.container{
    display: grid;
    justify-content: center;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows:auto auto auto auto auto auto auto auto auto ;
    
}
.one, .two, .three{
    height: 2rem;
    width: 2rem;
}
.one{
    background-color: rgb(238, 208, 208);
    
   
   
}
.two{
    background-color: rgb(229, 142, 142);
   
}
.three{
    background-color: rgb(220, 75, 75);
   
}