.container{
    display: flex;
    border: 2px solid red;
    height: 30em;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.one, .three {
    display: flex;
    width: auto;
    align-items: center;
    height: 30em;
    background-color: aqua;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.two {
    display: flex;

    background-color: aqua;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 30em;
    margin-left: auto;
}


